li {
  list-style: none;
}
.wrap {
  margin: 0;
  padding: 0;
}

.mobile_menu {
  display: none;
}

.header {
  width: 1440px;
  height: 121.5px;
  position: relative;
  margin: 0 auto;
}
.aee {
  background: white;
  /* position: absolute; */
  width: 116px;
  height: 58px;
  float: left;
  margin-top: 32px;
  font-size: 32px;
}

.menu {
  overflow: hidden;
  float: left;
  margin-left: 226.5px;
  margin-top: 48px;
}

.menu li {
  float: left;
  margin-left: 27px;
  padding-right: 51px;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: undefined;
  line-height: 18px;
  letter-spacing: 0.01600000075995922%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.box {
  float: right;
  margin-top: 41px;
}

.container {
  width: 1440px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.contents_1 {
  width: 50%;
}

.img1 img {
  position: absolute;
  overflow: hidden;
  margin: 0 auto;
  right: 0;
}

.mini_box {
  /* width: 537px;
    height: 286px; */
  float: left;
  margin-top: 50.5px;
}

.text_1 {
  color: rgb(35, 34, 41);
  font-family: Tahoma;
  font-size: 80px;
  font-weight: 400;
  line-height: 1.7999999523162842;
  letter-spacing: 0%;
  text-align: left;
}

.text_2 {
  color: rgb(35, 34, 41);
  font-family: Tahoma;
  font-size: 80px;
  font-weight: 400;
  line-height: 1.7999999523162842;
  letter-spacing: 0%;
  text-align: left;
}

.line_1 {
  width: 537px;
  height: 0;
  border: 1px solid rgb(35, 34, 41);
}

.line_2 {
  width: 537px;
  height: 0;
  border: 1px solid rgb(35, 34, 41);
}

.line_3 {
  width: 345.75px;
  height: 0;
  border: 1px solid rgb(35, 34, 41);
}

.insta {
  width: 1440px;
  height: 82.5px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.insta img {
  float: right;
  margin-top: 53.5px;
}

.button {
  margin: 0 auto;
  margin-top: 423px;
  position: absolute;
  overflow: hidden;
}

.button li {
  float: left;
  padding-right: 35px;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: undefined;
  line-height: 1.7999999523162842px;
  letter-spacing: 0.01600000075995922%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.view {
  float: left;
  width: 165px;
  height: 68px;
  text-align: center;
  color: white;
  font-family: Gilroy;
  background: rgb(35, 34, 41);
  line-height: 60px;
  box-shadow: 6px 6px 0px rgb(254, 106, 58);
}

.watch {
  float: left;
  margin-left: 35px;
  width: 165px;
  font-family: Gilroy;
  background: rgb(255, 251, 247);
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  height: 68px;
  line-height: 60px;
  text-align: center;
}

.container2 {
  width: 1440px;
  /* height: 447px; */
  margin: 0 auto;
  position: relative;
}

.contents_2 {
  /* margin-top: 52.63px; */
  float: left;
  margin: 0 auto;
}

.img3 {
  margin-left: 20px;
}

.text p {
  text-align: center;
  color: rgb(35, 34, 41);
  font-family: Gilroy;
  font-size: 36px;
  font-weight: undefined;
  line-height: 2;
}

.text {
  right: 28px;
  top: 67px;
  position: absolute;
  overflow: hidden;
}

.mobile_menu {
  display: none;
}

@media (min-width: 0) and (max-width: 998px) {
  .mobile_menu {
    display: block;
    float: right;
    margin-top: 23px;
  }
  .menu {
    display: none;
  }
  .box {
    display: none;
  }
  .insta {
    display: none;
  }
  .container {
    width: 100%;
  }
  .contents_1 {
    width: 100%;
  }
  .mini_box {
    width: 100%;
    margin-top: 60px;
  }

  .text_1 {
    font-size: 60px;
  }
  .text_2 {
    font-size: 60px;
  }
  .img1 img {
    position: relative;
    margin-top: 50px;
    width: 100%;
  }
  .header {
    width: 100%;
  }

  .button {
    position: relative;
    margin-top: 50px;
    width: 100%;
    left: 5px;
  }
  .container2 {
    width: 100%;
  }
  .line_1 {
    width: 100%;
  }
  .line_2 {
    width: 100%;
  }

  .contents_2 {
    position: relative;
    overflow: hidden;
    margin-top: 200px;
  }

  .img2 {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .img3 {
    width: 100%;
    left: 0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .text {
    position: relative;
    width: 100%;
    bottom: 5px;
    top: 20px;
    margin: 0 auto;
    left: 4px;
  }
  .text p {
    bottom: 0;
  }
}
